/* CSS VARIABLES! For color palettes & consistency */
:root {
    --periwinkle: rgb(116, 66, 158);
}


body {
    background: pink;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: hotpink; 
    font-style: italic;
    font-family: Impact;
    text-align: center;
    text-shadow: 2px 2px 0px white;
}

p {
    background: white;
    font-weight: bold;
    padding: 10px;
    border: 5px double hotpink;
}

.flex-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

ul, dl {
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
}

dt {
    background: white;
    color: hotpink;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}